body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
h1 {
    text-align: center;
    margin: 20px 0;
}
#articles-container {
    margin: 20px;
}
.article {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.article-content {
    max-height: 200px;
    overflow-y: auto;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.add-article-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.add-article-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.add-article-form input[type="text"],
.add-article-form textarea,
.add-article-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.add-article-form input[type="file"] {
    border: none;
}
.add-article-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.add-article-form button:hover {
    background-color: #0056b3;
}
#search-input {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px;
    font-size: 11px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.main-menu {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	text-align: center;
}
.main-menu a {
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
}
.main-menu a:hover {
    text-decoration: underline;
}
.article-content img {
	max-width: 100%;
	height: auto;
}
#section-selection {
    margin-top: 20px;
    text-align: center;
}
#section-selection label {
    margin-right: 10px;
}
#section {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#section + button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#section + button:hover {
    background-color: #555;
}
#announcements-container {
    display: none;
    margin-top: 20px;
    text-align: center;
}
.announcements {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.announcement {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}